---
matrix:
  include:
    - name: "Python 2.7.14 on macOS 10.13"
      os: osx
      osx_image: xcode9.3
      language: shell  # 'language: python' errors on Travis CI macOS
      before_install:
        - python --version
      install: pip install tox --user
      script: tox -e py27
    - name: "Python 3.7.5 on macOS 10.14"
      os: osx
      osx_image: xcode10.2
      language: shell  # 'language: python' errors on Travis CI macOS
      before_install:
        - python3 --version
      install: pip3 install tox --user
      script: tox -e py37
      env: PATH=/Users/travis/Library/Python/3.7/bin:$PATH
    - name: "Python 3.8.3 on macOS 10.15"
      os: osx
      osx_image: xcode12u
      language: shell  # 'language: python' errors on Travis CI macOS
      before_install:
        - python3 --version
      install: pip3 install tox --user
      script: tox -e py38
      env: PATH=/Users/travis/Library/Python/3.8/bin:$PATH
